<a href="https://colab.research.google.com/github/cdixson-ds/DS-Unit-2-Linear-Models/blob/master/CDixson_DS_Sprint_Challenge_Linear_Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science, Unit 2_
 
# Linear Models Sprint Challenge

To demonstrate mastery on your Sprint Challenge, do all the required, numbered instructions in this notebook.

To earn a score of "3", also do all the stretch goals.

You are permitted and encouraged to do as much data exploration as you want.

### Part 1, Classification
- 1.1. Do train/test split. Arrange data into X features matrix and y target vector
- 1.2. Use scikit-learn to fit a logistic regression model
- 1.3. Report classification metric: accuracy

### Part 2, Regression
- 2.1. Begin with baselines for regression
- 2.2. Do train/validate/test split
- 2.3. Arrange data into X features matrix and y target vector
- 2.4. Do one-hot encoding
- 2.5. Use scikit-learn to fit a linear regression or ridge regression model
- 2.6. Report validation MAE and $R^2$

### Stretch Goals, Regression
- Make at least 2 visualizations to explore relationships between features and target. You may use any visualization library
- Try at least 3 feature combinations. You may select features manually, or automatically
- Report validation MAE and $R^2$ for each feature combination you try
- Report test MAE and $R^2$ for your final model
- Print or plot the coefficients for the features in your model

In [172]:
# If you're in Colab...
import sys
if 'google.colab' in sys.modules:
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*
    !pip install plotly==4.*

Requirement already satisfied: category_encoders==2.* in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.10.2)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.4.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.22.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.17.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.25.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders==2.*) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.*) (0.14.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2.6.1)
Requirement already satisfied: pandas-profiling==2.* in /usr/local/lib/python3.6/dist-packages (2.5.0)
Requirement already satisfied: pandas==0.25.3 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (0.25.3)
Requirement already satisfied: tqdm==4.42.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (4.42.0)
Requirement already satisfied: tangled-up-in-unicode==0.0.3 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (0.0.3)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (0.1.12)
Requirement already satisfied: missingno==0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (0.4.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (1.17.5)
Requirement already satisfied: ipywidgets==7.5.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (7.5.1)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (1.4.1)
Requirement already satisfied: jinja2==2.11.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (2.11.1)
Requirement already satisfied: phik==0.9.9 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (0.9.9)
Requirement already satisfied: confuse==1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (1.0.0)
Requirement already satisfied: kaggle==1.5.6 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (1.5.6)
Requirement already satisfied: matplotlib>=3.0.3 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (3.1.3)
Requirement already satisfied: astropy>=3.2.3 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (4.0)
Requirement already satisfied: requests==2.22.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (2.22.0)
Requirement already satisfied: visions==0.2.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.*) (0.2.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas==0.25.3->pandas-profiling==2.*) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.25.3->pandas-profiling==2.*) (2018.9)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from missingno==0.4.2->pandas-profiling==2.*) (0.10.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas-profiling==2.*) (3.5.1)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas-profiling==2.*) (4.3.3)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas-profiling==2.*) (4.6.1)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas-profiling==2.*) (5.5.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas-profiling==2.*) (5.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2==2.11.1->pandas-profiling==2.*) (1.1.1)
Requirement already satisfied: pytest>=4.0.2 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas-profiling==2.*) (5.3.5)
Requirement already satisfied: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas-profiling==2.*) (5.6.1)
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas-profiling==2.*) (0.47.0)
Requirement already satisfied: pytest-pylint>=0.13.0 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas-profiling==2.*) (0.15.0)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas-profiling==2.*) (0.14.1)
Requirement already satisfied: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas-profiling==2.*) (5.3.4)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse==1.0.0->pandas-profiling==2.*) (3.13)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6->pandas-profiling==2.*) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6->pandas-profiling==2.*) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6->pandas-profiling==2.*) (1.12.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6->pandas-profiling==2.*) (4.0.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.3->pandas-profiling==2.*) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.3->pandas-profiling==2.*) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.3->pandas-profiling==2.*) (2.4.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests==2.22.0->pandas-profiling==2.*) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests==2.22.0->pandas-profiling==2.*) (2.8)
Requirement already satisfied: attr in /usr/local/lib/python3.6/dist-packages (from visions==0.2.2->pandas-profiling==2.*) (0.3.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from visions==0.2.2->pandas-profiling==2.*) (2.4)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets==7.5.1->pandas-profiling==2.*) (5.2.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets==7.5.1->pandas-profiling==2.*) (4.4.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets==7.5.1->pandas-profiling==2.*) (0.2.0)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets==7.5.1->pandas-profiling==2.*) (4.5.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.*) (2.1.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.*) (45.1.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.*) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.*) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.*) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.*) (1.0.18)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets==7.5.1->pandas-profiling==2.*) (2.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets==7.5.1->pandas-profiling==2.*) (4.6.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas-profiling==2.*) (19.3.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas-profiling==2.*) (8.2.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas-profiling==2.*) (1.8.1)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas-profiling==2.*) (1.5.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas-profiling==2.*) (0.13.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas-profiling==2.*) (0.1.8)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas-profiling==2.*) (20.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas-profiling==2.*) (1.4.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas-profiling==2.*) (3.1.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas-profiling==2.*) (0.4.4)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas-profiling==2.*) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas-profiling==2.*) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas-profiling==2.*) (0.3)
Requirement already satisfied: llvmlite>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik==0.9.9->pandas-profiling==2.*) (0.31.0)
Requirement already satisfied: pylint>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest-pylint>=0.13.0->phik==0.9.9->pandas-profiling==2.*) (2.4.4)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik==0.9.9->pandas-profiling==2.*) (17.0.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle==1.5.6->pandas-profiling==2.*) (1.3)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets==7.5.1->pandas-profiling==2.*) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.*) (0.6.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik==0.9.9->pandas-profiling==2.*) (2.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik==0.9.9->pandas-profiling==2.*) (0.5.1)
Requirement already satisfied: mccabe<0.7,>=0.6 in /usr/local/lib/python3.6/dist-packages (from pylint>=2.0.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas-profiling==2.*) (0.6.1)
Requirement already satisfied: isort<5,>=4.2.5 in /usr/local/lib/python3.6/dist-packages (from pylint>=2.0.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas-profiling==2.*) (4.3.21)
Requirement already satisfied: astroid<2.4,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pylint>=2.0.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas-profiling==2.*) (2.3.3)
Requirement already satisfied: typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=2.0.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas-profiling==2.*) (1.4.1)
Requirement already satisfied: wrapt==1.11.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=2.0.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas-profiling==2.*) (1.11.2)
Requirement already satisfied: lazy-object-proxy==1.4.* in /usr/local/lib/python3.6/dist-packages (from astroid<2.4,>=2.3.0->pylint>=2.0.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas-profiling==2.*) (1.4.3)
Requirement already satisfied: plotly==4.* in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.*) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly==4.*) (1.12.0)

# Part 1, Classification: Predict Blood Donations 🚑
Our dataset is from a mobile blood donation vehicle in Taiwan. The Blood Transfusion Service Center drives to different universities and collects blood as part of a blood drive.

The goal is to predict whether the donor made a donation in March 2007, using information about each donor's history.

Good data-driven systems for tracking and predicting donations and supply needs can improve the entire supply chain, making sure that more patients get the blood transfusions they need.

In [0]:
import pandas as pd

donors = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/blood-transfusion/transfusion.data')
assert donors.shape == (748,5)

donors = donors.rename(columns={
    'Recency (months)': 'months_since_last_donation', 
    'Frequency (times)': 'number_of_donations', 
    'Monetary (c.c. blood)': 'total_volume_donated', 
    'Time (months)': 'months_since_first_donation', 
    'whether he/she donated blood in March 2007': 'made_donation_in_march_2007'
})

Notice that the majority class (did not donate blood in March 2007) occurs about 3/4 of the time. 

This is the accuracy score for the "majority class baseline" (the accuracy score we'd get by just guessing the majority class every time).

In [174]:
donors['made_donation_in_march_2007'].value_counts(normalize=True)

0    0.762032
1    0.237968
Name: made_donation_in_march_2007, dtype: float64

## 1.1. Do train/test split. Arrange data into X features matrix and y target vector

Do these steps in either order.

Use scikit-learn's train/test split function to split randomly. (You can include 75% of the data in the train set, and hold out 25% for the test set, which is the default.)

In [0]:
import numpy as np
from sklearn.model_selection import train_test_split

features = ['months_since_last_donation', 'number_of_donations', 'total_volume_donated', 'months_since_first_donation']
target = 'made_donation_in_march_2007'

X = donors[features]
y = donors[target]

X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.25, random_state=True)

In [176]:
X_train

     months_since_last_donation  ...  months_since_first_donation
352                          11  ...                           50
207                           2  ...                           76
107                           3  ...                           26
17                            2  ...                           49
714                          16  ...                           58
..                          ...  ...                          ...
645                          14  ...                           14
715                          16  ...                           71
72                            4  ...                           71
235                           8  ...                           63
37                            4  ...                           16

[561 rows x 4 columns]

In [177]:
X_test

     months_since_last_donation  ...  months_since_first_donation
265                           4  ...                           43
519                           4  ...                           28
584                           2  ...                            2
717                          21  ...                           35
90                            4  ...                            4
..                          ...  ...                          ...
349                          11  ...                           11
495                          35  ...                           64
119                           2  ...                           79
82                            2  ...                           16
350                          11  ...                           11

[187 rows x 4 columns]

In [178]:
y_train

352    0
207    0
107    0
17     1
714    0
      ..
645    0
715    0
72     1
235    0
37     1
Name: made_donation_in_march_2007, Length: 561, dtype: int64

In [179]:
y_test

265    1
519    1
584    0
717    0
90     1
      ..
349    0
495    0
119    1
82     0
350    0
Name: made_donation_in_march_2007, Length: 187, dtype: int64

## 1.2. Use scikit-learn to fit a logistic regression model

You may use any number of features

In [0]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)

In [0]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)

In [182]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train_scaled, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## 1.3. Report classification metric: accuracy

What is your model's accuracy on the test set?

Don't worry if your model doesn't beat the majority class baseline. That's okay!

_"The combination of some data and an aching desire for an answer does not ensure that a reasonable answer can be extracted from a given body of data."_ —[John Tukey](https://en.wikiquote.org/wiki/John_Tukey)

(Also, if we used recall score instead of accuracy score, then your model would almost certainly beat the baseline. We'll discuss how to choose and interpret evaluation metrics throughout this unit.)

In [183]:
log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_scaled, y_train)
print('Accuracy', log_reg.score(X_train_scaled, y_train))

Accuracy 0.7789661319073083

# Part 2, Regression: Predict home prices in Ames, Iowa 🏠

You'll use historical housing data. ***There's a data dictionary at the bottom of the notebook.*** 

Run this code cell to load the dataset:

In [0]:
import pandas as pd
URL = 'https://drive.google.com/uc?export=download&id=1522WlEW6HFss36roD_Cd9nybqSuiVcCK'
homes = pd.read_csv(URL)
assert homes.shape == (2904, 47)

In [185]:
homes.head().T

                      0        1        2        3        4
1st_Flr_SF         1656      896     1329     2110      928
Bedroom_AbvGr         3        2        3        3        3
Bldg_Type          1Fam     1Fam     1Fam     1Fam     1Fam
Bsmt_Full_Bath        1        0        0        1        0
Bsmt_Half_Bath        0        0        0        0        0
Central_Air           Y        Y        Y        Y        Y
Condition_1        Norm    Feedr     Norm     Norm     Norm
Condition_2        Norm     Norm     Norm     Norm     Norm
Electrical        SBrkr    SBrkr    SBrkr    SBrkr    SBrkr
Exter_Cond           TA       TA       TA       TA       TA
Exter_Qual           TA       TA       TA       Gd       TA
Exterior_1st    BrkFace  VinylSd  Wd Sdng  BrkFace  VinylSd
Exterior_2nd    Plywood  VinylSd  Wd Sdng  BrkFace  VinylSd
Foundation       CBlock   CBlock   CBlock   CBlock    PConc
Full_Bath             1        1        1        2        2
Functional          Typ      Typ      Typ      Typ      Typ
Gr_Liv_Area        1656      896     1329     2110     1629
Half_Bath             0        0        1        1        1
Heating            GasA     GasA     GasA     GasA     GasA
Heating_QC           Fa       TA       TA       Ex       Gd
House_Style      1Story   1Story   1Story   1Story   2Story
Kitchen_AbvGr         1        1        1        1        1
Kitchen_Qual         TA       TA       Gd       Ex       TA
Land_Contour        Lvl      Lvl      Lvl      Lvl      Lvl
Land_Slope          Gtl      Gtl      Gtl      Gtl      Gtl
Lot_Area          31770    11622    14267    11160    13830
Lot_Config       Corner   Inside   Corner   Corner   Inside
Lot_Shape           IR1      Reg      IR1      Reg      IR1
MS_SubClass          20       20       20       20       60
MS_Zoning            RL       RH       RL       RL       RL
Mas_Vnr_Type      Stone     None  BrkFace     None     None
Mo_Sold               5        6        6        4        3
Neighborhood      NAmes    NAmes    NAmes    NAmes  Gilbert
Overall_Cond          5        6        6        5        5
Overall_Qual          6        5        6        7        5
Paved_Drive           P        Y        Y        Y        Y
Roof_Matl       CompShg  CompShg  CompShg  CompShg  CompShg
Roof_Style          Hip    Gable      Hip      Hip    Gable
SalePrice        215000   105000   172000   244000   189900
Sale_Condition   Normal   Normal   Normal   Normal   Normal
Sale_Type           WD       WD       WD       WD       WD
Street             Pave     Pave     Pave     Pave     Pave
TotRms_AbvGrd         7        5        6        8        6
Utilities        AllPub   AllPub   AllPub   AllPub   AllPub
Year_Built         1960     1961     1958     1968     1997
Year_Remod/Add     1960     1961     1958     1968     1998
Yr_Sold            2010     2010     2010     2010     2010

In [186]:
homes.isnull().sum()

1st_Flr_SF        0
Bedroom_AbvGr     0
Bldg_Type         0
Bsmt_Full_Bath    0
Bsmt_Half_Bath    0
Central_Air       0
Condition_1       0
Condition_2       0
Electrical        0
Exter_Cond        0
Exter_Qual        0
Exterior_1st      0
Exterior_2nd      0
Foundation        0
Full_Bath         0
Functional        0
Gr_Liv_Area       0
Half_Bath         0
Heating           0
Heating_QC        0
House_Style       0
Kitchen_AbvGr     0
Kitchen_Qual      0
Land_Contour      0
Land_Slope        0
Lot_Area          0
Lot_Config        0
Lot_Shape         0
MS_SubClass       0
MS_Zoning         0
Mas_Vnr_Type      0
Mo_Sold           0
Neighborhood      0
Overall_Cond      0
Overall_Qual      0
Paved_Drive       0
Roof_Matl         0
Roof_Style        0
SalePrice         0
Sale_Condition    0
Sale_Type         0
Street            0
TotRms_AbvGrd     0
Utilities         0
Year_Built        0
Year_Remod/Add    0
Yr_Sold           0
dtype: int64

In [187]:
homes.dtypes

1st_Flr_SF          int64
Bedroom_AbvGr       int64
Bldg_Type          object
Bsmt_Full_Bath    float64
Bsmt_Half_Bath    float64
Central_Air        object
Condition_1        object
Condition_2        object
Electrical         object
Exter_Cond         object
Exter_Qual         object
Exterior_1st       object
Exterior_2nd       object
Foundation         object
Full_Bath           int64
Functional         object
Gr_Liv_Area         int64
Half_Bath           int64
Heating            object
Heating_QC         object
House_Style        object
Kitchen_AbvGr       int64
Kitchen_Qual       object
Land_Contour       object
Land_Slope         object
Lot_Area            int64
Lot_Config         object
Lot_Shape          object
MS_SubClass         int64
MS_Zoning          object
Mas_Vnr_Type       object
Mo_Sold             int64
Neighborhood       object
Overall_Cond        int64
Overall_Qual        int64
Paved_Drive        object
Roof_Matl          object
Roof_Style         object
SalePrice           int64
Sale_Condition     object
Sale_Type          object
Street             object
TotRms_AbvGrd       int64
Utilities          object
Year_Built          int64
Year_Remod/Add      int64
Yr_Sold             int64
dtype: object

## 2.1. Begin with baselines

What is the Mean Absolute Error and R^2 score for a mean baseline? (You can get these estimated scores using all your data, before splitting it.)

In [233]:
#mean absolute error

from sklearn.metrics import mean_absolute_error

target = homes['SalePrice']

guess = target.mean()

y_pred = [guess] * len(target)
mae = mean_absolute_error(target, y_pred)
print(f'Mean absolute error: {mae:.2f} ')

Mean absolute error: 58149.93

In [234]:
#mean squared error

from sklearn.metrics import mean_squared_error

MSE = mean_squared_error(target, y_pred)
print(f'Mean squared Error: {MSE:.2f} ')

Mean squared Error: 6366297661.45

In [235]:
#root mean squared error
from math import sqrt

RMSE = sqrt(mean_squared_error(target, y_pred))
print(f'Root Mean squared Error: {RMSE:.2f} ')

Root Mean squared Error: 79789.08

## 2.2. Do train/validate/test split

Train on houses sold in the years 2006 - 2008. (1,920 rows)

Validate on house sold in 2009. (644 rows)

Test on houses sold in 2010. (340 rows)

In [236]:
train = homes[homes['Yr_Sold'] < 2009]
train.shape

(1920, 47)

In [237]:
val = homes[homes['Yr_Sold'] == 2009]
val.shape

(644, 47)

In [238]:
test = homes[homes['Yr_Sold'] == 2010]
test.shape

(340, 47)

## 2.3. Arrange data into X features matrix and y target vector

Select at least one numeric feature and at least one categorical feature.

Otherwise, you may choose whichever features and however many you want.

In [0]:
features = ['Bldg_Type', "Full_Bath"]

target = 'SalePrice'

X_train = train[features]
X_val = val[features]
X_test = test[features]

In [0]:
y_train = train[target]
y_test = test[target]
y_val= val[target]

## 2.4. Do one-hot encoding

Encode your categorical feature(s).

In [241]:
import category_encoders as ce

encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

X_train_encoded.head()

     Bldg_Type_1Fam  Bldg_Type_TwnhsE  ...  Bldg_Type_2fmCon  Full_Bath
984               1                 0  ...                 0          1
985               1                 0  ...                 0          2
986               1                 0  ...                 0          2
987               1                 0  ...                 0          2
988               1                 0  ...                 0          2

[5 rows x 6 columns]

In [242]:
X_val_encoded

     Bldg_Type_1Fam  Bldg_Type_TwnhsE  ...  Bldg_Type_2fmCon  Full_Bath
340               1                 0  ...                 0          1
341               1                 0  ...                 0          2
342               1                 0  ...                 0          2
343               1                 0  ...                 0          2
344               1                 0  ...                 0          2
..              ...               ...  ...               ...        ...
979               1                 0  ...                 0          1
980               1                 0  ...                 0          1
981               1                 0  ...                 0          1
982               1                 0  ...                 0          2
983               1                 0  ...                 0          1

[644 rows x 6 columns]

## 2.5. Use scikit-learn to fit a linear regression or ridge regression model
Fit your model.

In [0]:
from sklearn.linear_model import LinearRegression

#Instantiate class
linear_reg = LinearRegression()

In [0]:
scaler2 = StandardScaler()
X_train_scaled2 = scaler.fit_transform(X_train_encoded)
X_val_scaled2 = scaler.fit_transform(X_val_encoded)

In [245]:
model = LinearRegression(fit_intercept=True)
model.fit(X_train_scaled2, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [246]:
y_predict = model.predict(X_val_scaled2)
y_predict

array([ 3.58207493e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        1.88964423e+16,  1.88964423e+16,  3.58207494e+14,  1.88964423e+16,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        1.88964423e+16,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14, -7.20699702e+16,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14, -3.58478896e+15,  1.88964423e+16, -3.58478896e+15,
       -3.58478896e+15, -3.58478896e+15, -3.58478896e+15,  1.88964423e+16,
        1.88964423e+16, -3.58478896e+15, -3.58478896e+15,  1.88964423e+16,
       -3.58478896e+15,  1.88964423e+16, -3.58478896e+15,  1.88964423e+16,
        1.88964423e+16,  3.58207493e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  1.88964423e+16, -3.58478896e+15,
       -3.58478896e+15,  1.88964423e+16, -3.58478896e+15,  3.58207494e+14,
        3.58207494e+14,  1.88964423e+16,  1.88964423e+16,  3.58207494e+14,
        1.88964423e+16,  1.88964423e+16, -3.58478896e+15,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  1.88964423e+16,
        1.88964423e+16,  1.88964423e+16,  1.88964423e+16,  1.88964423e+16,
        1.88964423e+16,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14, -3.58478896e+15,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207494e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  1.88964423e+16,
        1.88964423e+16,  3.58207494e+14,  3.58207494e+14, -7.20699702e+16,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207494e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207494e+14, -3.58478896e+15,  1.88964423e+16,  1.88964423e+16,
        1.88964423e+16,  1.88964423e+16,  1.88964423e+16,  1.88964423e+16,
        1.88964423e+16, -3.58478896e+15,  3.58207494e+14,  1.88964423e+16,
        3.58207493e+14,  3.58207494e+14,  3.58207494e+14,  3.58207493e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207494e+14,
       -7.20699702e+16,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14, -7.20699702e+16,  3.58207494e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207494e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14, -7.20699702e+16,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  1.73112536e+17,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14, -7.20699702e+16,  3.58207493e+14,
        3.58207493e+14, -7.20699702e+16,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207493e+14,
       -7.20699702e+16,  3.58207493e+14, -7.20699702e+16,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207493e+14,
       -7.20699702e+16,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14, -7.20699702e+16,  3.58207493e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207494e+14,
        1.73112536e+17, -7.20699702e+16,  3.58207493e+14,  3.58207493e+14,
        1.73112536e+17,  3.58207493e+14,  1.73112536e+17,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        1.73112536e+17,  3.58207494e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207493e+14, -7.20699702e+16,  3.58207494e+14,  3.58207493e+14,
        3.58207493e+14,  1.73112536e+17,  3.58207493e+14,  3.58207493e+14,
        1.73112536e+17,  3.58207493e+14, -7.20699702e+16, -7.20699702e+16,
       -7.20699702e+16,  3.58207493e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207493e+14,  3.58207494e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207494e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  1.88964423e+16,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207493e+14, -7.20699702e+16,
       -7.20699702e+16, -7.20699702e+16, -7.20699702e+16, -7.20699702e+16,
       -7.20699702e+16, -7.20699702e+16, -7.20699702e+16, -7.20699702e+16,
       -7.20699702e+16, -7.20699702e+16,  3.58207493e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207493e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        1.88964423e+16,  1.88964423e+16,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207494e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207494e+14,  1.88964423e+16,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207493e+14, -7.20699702e+16,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207493e+14,  3.58207494e+14,  3.58207493e+14,
        3.58207494e+14,  3.58207493e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
       -7.20699702e+16,  3.58207493e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207493e+14,  3.58207493e+14, -3.58478896e+15,
        1.88964423e+16, -3.58478896e+15,  1.88964423e+16,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  1.88964423e+16,
        3.58207493e+14,  3.58207494e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207493e+14,  3.58207493e+14, -7.20699702e+16,
        3.58207494e+14,  3.58207494e+14,  3.58207493e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207494e+14,  3.58207494e+14,  3.58207494e+14,  3.58207494e+14,
        3.58207493e+14,  3.58207493e+14,  1.88964423e+16,  1.88964423e+16,
       -3.58478896e+15,  3.58207493e+14, -3.58478896e+15,  3.58207494e+14,
        1.88964423e+16, -3.58478896e+15,  1.88964423e+16,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207493e+14,  3.58207493e+14,
        3.58207493e+14,  3.58207493e+14,  3.58207494e+14,  3.58207493e+14])

## 2.6. Report validation MAE and $R^2$

What is your model's Mean Absolute Error and $R^2$ score on the validation set? (You are not graded on how high or low your validation scores are.)

In [248]:
mae2 = mean_absolute_error(y_val, y_predict)
print(f'Mean absolute error: {mae2:.2f} ')

Mean absolute error: 6948384079763596.00

In [250]:
RMSE2 = sqrt(mean_squared_error(y_val, y_predict))
print(f'Root Mean squared Error: {RMSE2:.2f} ')

Root Mean squared Error: 24343836255125096.00

In [251]:
#Model Intercept

print(f'Intercept is {model.intercept_}')

Intercept is 181504.61349739318

In [252]:
#Coefficient

print(f'Coefficient is {model.coef_}')

Coefficient is [1.48825403e+17 1.07521265e+17 7.06417988e+16 7.16984239e+16
 6.01792105e+16 4.60100000e+04]

# Stretch Goals, Regression
- Make at least 2 visualizations to explore relationships between features and target. You may use any visualization library
- Try at least 3 feature combinations. You may select features manually, or automatically
- Report validation MAE and $R^2$ for each feature combination you try
- Report test MAE and $R^2$ for your final model
- Print or plot the coefficients for the features in your model

# Data Dictionary 

Here's a description of the data fields:

```
1st_Flr_SF: First Floor square feet

Bedroom_AbvGr: Bedrooms above grade (does NOT include basement bedrooms)

Bldg_Type: Type of dwelling
		
       1Fam	Single-family Detached	
       2FmCon	Two-family Conversion; originally built as one-family dwelling
       Duplx	Duplex
       TwnhsE	Townhouse End Unit
       TwnhsI	Townhouse Inside Unit
       
Bsmt_Half_Bath: Basement half bathrooms

Bsmt_Full_Bath: Basement full bathrooms

Central_Air: Central air conditioning

       N	No
       Y	Yes
		
Condition_1: Proximity to various conditions
	
       Artery	Adjacent to arterial street
       Feedr	Adjacent to feeder street	
       Norm	Normal	
       RRNn	Within 200' of North-South Railroad
       RRAn	Adjacent to North-South Railroad
       PosN	Near positive off-site feature--park, greenbelt, etc.
       PosA	Adjacent to postive off-site feature
       RRNe	Within 200' of East-West Railroad
       RRAe	Adjacent to East-West Railroad
	
Condition_2: Proximity to various conditions (if more than one is present)
		
       Artery	Adjacent to arterial street
       Feedr	Adjacent to feeder street	
       Norm	Normal	
       RRNn	Within 200' of North-South Railroad
       RRAn	Adjacent to North-South Railroad
       PosN	Near positive off-site feature--park, greenbelt, etc.
       PosA	Adjacent to postive off-site feature
       RRNe	Within 200' of East-West Railroad
       RRAe	Adjacent to East-West Railroad
       
 Electrical: Electrical system

       SBrkr	Standard Circuit Breakers & Romex
       FuseA	Fuse Box over 60 AMP and all Romex wiring (Average)	
       FuseF	60 AMP Fuse Box and mostly Romex wiring (Fair)
       FuseP	60 AMP Fuse Box and mostly knob & tube wiring (poor)
       Mix	Mixed
       
 Exter_Cond: Evaluates the present condition of the material on the exterior
		
       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor
 
 Exter_Qual: Evaluates the quality of the material on the exterior 
		
       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor
		
Exterior_1st: Exterior covering on house

       AsbShng	Asbestos Shingles
       AsphShn	Asphalt Shingles
       BrkComm	Brick Common
       BrkFace	Brick Face
       CBlock	Cinder Block
       CemntBd	Cement Board
       HdBoard	Hard Board
       ImStucc	Imitation Stucco
       MetalSd	Metal Siding
       Other	Other
       Plywood	Plywood
       PreCast	PreCast	
       Stone	Stone
       Stucco	Stucco
       VinylSd	Vinyl Siding
       Wd Sdng	Wood Siding
       WdShing	Wood Shingles
	
Exterior_2nd: Exterior covering on house (if more than one material)

       AsbShng	Asbestos Shingles
       AsphShn	Asphalt Shingles
       BrkComm	Brick Common
       BrkFace	Brick Face
       CBlock	Cinder Block
       CemntBd	Cement Board
       HdBoard	Hard Board
       ImStucc	Imitation Stucco
       MetalSd	Metal Siding
       Other	Other
       Plywood	Plywood
       PreCast	PreCast
       Stone	Stone
       Stucco	Stucco
       VinylSd	Vinyl Siding
       Wd Sdng	Wood Siding
       WdShing	Wood Shingles
       
Foundation: Type of foundation
		
       BrkTil	Brick & Tile
       CBlock	Cinder Block
       PConc	Poured Contrete	
       Slab	Slab
       Stone	Stone
       Wood	Wood
		
Full_Bath: Full bathrooms above grade

Functional: Home functionality (Assume typical unless deductions are warranted)

       Typ	Typical Functionality
       Min1	Minor Deductions 1
       Min2	Minor Deductions 2
       Mod	Moderate Deductions
       Maj1	Major Deductions 1
       Maj2	Major Deductions 2
       Sev	Severely Damaged
       Sal	Salvage only
		
Gr_Liv_Area: Above grade (ground) living area square feet
        
Half_Bath: Half baths above grade

Heating: Type of heating
		
       Floor	Floor Furnace
       GasA	Gas forced warm air furnace
       GasW	Gas hot water or steam heat
       Grav	Gravity furnace	
       OthW	Hot water or steam heat other than gas
       Wall	Wall furnace
		
Heating_QC: Heating quality and condition

       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       Po	Poor

House_Style: Style of dwelling
	
       1Story	One story
       1.5Fin	One and one-half story: 2nd level finished
       1.5Unf	One and one-half story: 2nd level unfinished
       2Story	Two story
       2.5Fin	Two and one-half story: 2nd level finished
       2.5Unf	Two and one-half story: 2nd level unfinished
       SFoyer	Split Foyer
       SLvl	Split Level

Kitchen_AbvGr: Kitchens above grade

Kitchen_Qual: Kitchen quality

       Ex	Excellent
       Gd	Good
       TA	Typical/Average
       Fa	Fair
       Po	Poor

LandContour: Flatness of the property

       Lvl	Near Flat/Level	
       Bnk	Banked - Quick and significant rise from street grade to building
       HLS	Hillside - Significant slope from side to side
       Low	Depression
		
Land_Slope: Slope of property
		
       Gtl	Gentle slope
       Mod	Moderate Slope	
       Sev	Severe Slope

Lot_Area: Lot size in square feet

Lot_Config: Lot configuration

       Inside	Inside lot
       Corner	Corner lot
       CulDSac	Cul-de-sac
       FR2	Frontage on 2 sides of property
       FR3	Frontage on 3 sides of property

Lot_Shape: General shape of property

       Reg	Regular	
       IR1	Slightly irregular
       IR2	Moderately Irregular
       IR3	Irregular

MS_SubClass: Identifies the type of dwelling involved in the sale.	

        20	1-STORY 1946 & NEWER ALL STYLES
        30	1-STORY 1945 & OLDER
        40	1-STORY W/FINISHED ATTIC ALL AGES
        45	1-1/2 STORY - UNFINISHED ALL AGES
        50	1-1/2 STORY FINISHED ALL AGES
        60	2-STORY 1946 & NEWER
        70	2-STORY 1945 & OLDER
        75	2-1/2 STORY ALL AGES
        80	SPLIT OR MULTI-LEVEL
        85	SPLIT FOYER
        90	DUPLEX - ALL STYLES AND AGES
       120	1-STORY PUD (Planned Unit Development) - 1946 & NEWER
       150	1-1/2 STORY PUD - ALL AGES
       160	2-STORY PUD - 1946 & NEWER
       180	PUD - MULTILEVEL - INCL SPLIT LEV/FOYER
       190	2 FAMILY CONVERSION - ALL STYLES AND AGES

MS_Zoning: Identifies the general zoning classification of the sale.
		
       A	Agriculture
       C	Commercial
       FV	Floating Village Residential
       I	Industrial
       RH	Residential High Density
       RL	Residential Low Density
       RP	Residential Low Density Park 
       RM	Residential Medium Density

Mas_Vnr_Type: Masonry veneer type

       BrkCmn	Brick Common
       BrkFace	Brick Face
       CBlock	Cinder Block
       None	None
       Stone	Stone

Mo_Sold: Month Sold (MM)

Neighborhood: Physical locations within Ames city limits

       Blmngtn	Bloomington Heights
       Blueste	Bluestem
       BrDale	Briardale
       BrkSide	Brookside
       ClearCr	Clear Creek
       CollgCr	College Creek
       Crawfor	Crawford
       Edwards	Edwards
       Gilbert	Gilbert
       IDOTRR	Iowa DOT and Rail Road
       MeadowV	Meadow Village
       Mitchel	Mitchell
       Names	North Ames
       NoRidge	Northridge
       NPkVill	Northpark Villa
       NridgHt	Northridge Heights
       NWAmes	Northwest Ames
       OldTown	Old Town
       SWISU	South & West of Iowa State University
       Sawyer	Sawyer
       SawyerW	Sawyer West
       Somerst	Somerset
       StoneBr	Stone Brook
       Timber	Timberland
       Veenker	Veenker
			
Overall_Cond: Rates the overall condition of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average	
       5	Average
       4	Below Average	
       3	Fair
       2	Poor
       1	Very Poor

Overall_Qual: Rates the overall material and finish of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average
       5	Average
       4	Below Average
       3	Fair
       2	Poor
       1	Very Poor

Paved_Drive: Paved driveway

       Y	Paved 
       P	Partial Pavement
       N	Dirt/Gravel

Roof_Matl: Roof material

       ClyTile	Clay or Tile
       CompShg	Standard (Composite) Shingle
       Membran	Membrane
       Metal	Metal
       Roll	Roll
       Tar&Grv	Gravel & Tar
       WdShake	Wood Shakes
       WdShngl	Wood Shingles

Roof_Style: Type of roof

       Flat	Flat
       Gable	Gable
       Gambrel	Gabrel (Barn)
       Hip	Hip
       Mansard	Mansard
       Shed	Shed

SalePrice: the sales price for each house

Sale_Condition: Condition of sale

       Normal	Normal Sale
       Abnorml	Abnormal Sale -  trade, foreclosure, short sale
       AdjLand	Adjoining Land Purchase
       Alloca	Allocation - two linked properties with separate deeds, typically condo with a garage unit	
       Family	Sale between family members
       Partial	Home was not completed when last assessed (associated with New Homes)

Sale_Type: Type of sale
		
       WD 	Warranty Deed - Conventional
       CWD	Warranty Deed - Cash
       VWD	Warranty Deed - VA Loan
       New	Home just constructed and sold
       COD	Court Officer Deed/Estate
       Con	Contract 15% Down payment regular terms
       ConLw	Contract Low Down payment and low interest
       ConLI	Contract Low Interest
       ConLD	Contract Low Down
       Oth	Other
	
Street: Type of road access to property

       Grvl	Gravel	
       Pave	Paved
       	
TotRms_AbvGrd: Total rooms above grade (does not include bathrooms)

Utilities: Type of utilities available
		
       AllPub	All public Utilities (E,G,W,& S)	
       NoSewr	Electricity, Gas, and Water (Septic Tank)
       NoSeWa	Electricity and Gas Only
       ELO	Electricity only	
	
Year_Built: Original construction date

Year_Remod/Add: Remodel date (same as construction date if no remodeling or additions)
						
Yr_Sold: Year Sold (YYYY)	

```